---
layout: index
slug: home
---
<main class="zd-hp-header" id="content" tabindex="-1">
  <div class="container">
    <p class="lead">Zeal is an offline documentation browser for software developers.</p>
    <img src="https://i.imgur.com/v63u1ZJ.png" class="img-responsive center-block">
    <p class="lead"><a href="/download.html" class="btn btn-primary btn-lg">Download Zeal</a></p>
    <p class="version">Version {{ site.data.zeal.current_version }}</p>
    {% include ads/carbon.html %}
  </div>
</main>

<div class="container text-center">
  <h2>Zeal comes with <strong>{{ site.data.docsets | size }}</strong> awesome docsets!</h2>
  <ul id="docset-list" class="list-inline">
  {% for docset in site.data.docsets %}
    <li>{{ docset.title }}</li>
  {% endfor %}
  </ul>
  <h4>These docsets are generously provided by Dash. And you can also <a href="https://kapeli.com/docsets">create</a> your own!</h4>
</div>
