---
layout: index
slug: home
---
<main class="zd-hp-header" id="content" tabindex="-1">
  <div class="container">
    <p class="lead">Zeal is an offline documentation browser for software developers.</p>
    <img src="https://i.imgur.com/qBkZduS.png" class="img-responsive center-block" alt="Screenshot of Zeal">
    <p class="lead">
      <a href="/download.html#windows" class="btn btn-primary btn-outline"><i class="fa fa-windows fa-lg"></i> Download for Windows</a>
      <a href="/download.html#linux" class="btn btn-danger btn-outline"><i class="fa fa-linux fa-lg"></i> Download for Linux</a>
      <a href="https://kapeli.com/dash" class="btn btn-dash btn-outline"><i class="fa fa-apple fa-lg"></i> Get Dash for macOS</a>
    </p>
    <p class="version">Version {{ site.data.zeal.current_version }}</p>
    {% include ads/carbon.html %}
  </div>
</main>

<div class="container text-center">
  <h2>Zeal comes with <strong>{{ site.data.docsets | size }}</strong> awesome docsets!</h2>
  <ul id="docset-list" class="list-inline">
  {% for docset in site.data.docsets %}
    <li>{{ docset.title }}</li>
  {% endfor %}
  </ul>
  <h4>These docsets are generously provided by <a href="https://kapeli.com/dash">Dash</a>. You can also <a href="https://kapeli.com/docsets">create</a> your own!</h4>
</div>
