<footer class="page-footer" role="contentinfo">
  <div class="container">
    <a href="https://github.com/zealdocs/zeal/"><img src="https://img.shields.io/github/stars/zealdocs/zeal.svg?style=social&label=Star"></a> &middot;
    <a href="https://twitter.com/zealdocs"><img src="https://img.shields.io/twitter/follow/zealdocs.svg?style=social"></a>
  </div>
  <br>
  <div class="container">
    &copy; <a href="https://github.com/trollixx">Oleg Shparber</a> and <a href="https://github.com/zealdocs/zeal/graphs/contributors">other contributors</a>, 2013-2016
  </div>
</footer>
