<footer class="zd-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <ul class="zd-footer-links">
          <li>
            <a href="https://github.com/zealdocs/zeal/">
              <img src="https://img.shields.io/github/stars/zealdocs/zeal.svg?style=social&label=Star" alt="GitHub: zealdocs/zeal">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/zealdocs">
              <img src="https://img.shields.io/twitter/follow/zealdocs.svg?style=social" alt="Twitter: @zealdocs">
            </a>
          </li>
        </ul>

        <p>&copy; <a href="https://github.com/trollixx">Oleg Shparber</a> and <a href="https://github.com/zealdocs/zeal/graphs/contributors">other contributors</a>, 2013-{{ 'now' | date: "%Y" }}</p>

        <p>Website layout is based on <a href="https://github.com/twbs/bootstrap/tree/master/docs">Bootstrap Docs</a>.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 zd-footer-sponsors">
        <a href="https://www.digitalocean.com/">
          <img src="/static/img/digitalocean.png" alt="DigitalOcean Logo">
        </a>
      </div>
    </div>
  </div>
</footer>
