<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.name }}{% if page.slug == "home" %} - {{ site.description }}{% endif %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{{ site.baseurl }}/static/css/styles.css" rel="stylesheet">
<link rel="icon" href="/static/img/favicon-16.png" sizes="16x16" type="image/png">
<link rel="icon" href="/static/img/favicon-32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/static/img/favicon-48.png" sizes="48x48" type="image/png">
<link rel="icon" href="/static/img/favicon-62.png" sizes="62x62" type="image/png">
<link rel="icon" href="/static/img/favicon-192.png" sizes="192x192" type="image/png">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
