<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Zeal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="/">Home</a></li>
        <li{% if page.url == '/download.html' %} class="active"{% endif %}><a href="download.html">Download</a></li>
        <li{% if page.url == '/usage.html' %} class="active"{% endif %}><a href="usage.html">Usage</a></li>
        <li><a href="mailto:zeal@zealdocs.org">Contact</a></li>
        <li><a href="irc://irc.freenode.net/zealdocs">IRC (#zealdocs on freenode)</a></li>
      </ul>
    </div>
  </div>
</nav>
