@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,600");

body {
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#github-btn {
  float: right;
}

.page-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.post h1 {
  margin-bottom: 0;
}

.post div.entry {
  padding-top: 15px;
}

.docset-wrapper {
  float: left;
  margin-bottom: 10px;
}

.docset {
  display: table-row;
}

.docset img {
  margin-left: 20px;
  margin-right: 5px;
  display: table-cell;
}

.docset span {
  display: table-cell;
}
