---
layout: default
---
<div class="row">
  <h1 class="page-header">{{ page.title }}</h1>

  <article class="post">
    <small>{{ page.date | date: '%B %d, %Y' }} · by <a href="https://github.com/{{ site.authors[page.author].github }}">{{ site.authors[page.author].name }}</a></small>
    <div class="entry">
      {{ content }}
    </div>
  </article>

  <br>
  <a href="{{ site.baseurl }}/blog/">View all posts</a>
</div>
<div class="row">
  {% if site.comments.disqus %}
  {% include comments/disqus.html %}
  {% endif %}
</div>
